@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

$accent = #69babe;
$gray_light = #eaeaea;


body, input, textarea, button {
  font-family: 'Jura', serif !important;
  font-weight: 300;
}

.blog__img.blog__img--small{
    width: 50px;
    display: inline-block;
	  vertical-align: middle;
    background #eee !important
    margin-right: 10px !important;
	  margin-bottom: 0 !important;
	  padding: 10px;
}

.search input
	border-color: #dcdfe6;
	margin-right: 0;

.search__btn
	margin-left: 20px;
	&:hover, &:focus
		box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);


.content
	padding-left: 20px

.row
	width: auto

.ui-title-4{
	margin-bottom: 20px
}

.rc-anchor-pt
	display: none

.navbar-content {
  font-weight: 500;
}

.navbar
	border-bottom-color $gray_light

.form__item--captcha
	margin: 0 auto;
	overflow: hidden;

.ui-title-1 {
  font-size: 45px;
}

.navbar-link {
  transition: all 0.3s ease-in-out;
  color: $accent;

  &.router-link-exact-active, &.router-link-active {
    color: #333;
  }
}

.button-default {
  border-radius: 5px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

a {
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  color: #69babe;
}

.lang {
  a {
    color: #69babe;
    display: inline-block;

    &:before {
      content: '/';
      padding: 0 5px;
      color: #333;
    }

    &:first-child:before {
      content: '';
    }

    &.router-link-active {
      color: #333;
    }
  }
}

.scrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: #eaeaea;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 1;

  &:hover {
    background-color: #ccc;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter, .fade-leave-to { /* .fade-leave-active до версии 2.1.8 */
  opacity: 0;
}

.text-center {
  text-align: center;
}

.button.active {
  color: blue;
  border-color: blue;
}

.button + .button {
  margin: 0 10px;
}

.mb-4 {
  margin-bottom: 50px;
}

.info_block {
  margin-bottom: 40px;
}

textarea {
  margin-bottom: 0;
}

.form__item div {
  margin: 0 auto;
}

.footer {
  position: relative;
  text-align: center;
  border-top: 1px solid $gray_light;
  padding: 30px 0;
}

.header-logo {
  color: #69babe;
}

.logo
	&__title
		display block
	&__text
		display inline-block
		vertical-align middle
		padding-left 15px
	&__title
		font-weight: 800
		font-size: 30px
		line-height: 1


.header-logo__img {
  max-width: 40px;
}

.content-wrapper {
  min-height: auto;
}

// ---- ---- footer bottom flexbox autoheight BEGIN  ---- ----
html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: none;
}

.content-wrapper {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

// ---- ---- footer bottom flexbox autoheight END  ---- ----
#nprogress .bar {
  background: #69babe;
  height: 2px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #69babe, 0 0 5px #69babe;
}

#nprogress .spinner-icon {
  border-top-color: #69babe;
  border-left-color: #69babe;
}

#nprogress .spinner-icon {
  border-width: 2px;
}


.blog
	&__list
		text-transform uppercase



@media only screen and (max-width: 992px)
	.header-logo__img
		max-width: 30px
	.logo
		&__title
			font-size 25px
		&__subtitle
			font-size 12px
	
	.navbar-content .button-burger
		display: block;
	
	.navbar-list__wrapper
    	display: none;
	
	.navbar-list__wrapper.active .navbar-list
		padding: 20px
	
	.navbar-list__wrapper .navbar-item, 
	.navbar-item:last-child, .navbar-link:last-child
		padding: 8px 10px
	
	.lang
		padding-right: 25px !important

@media only screen and (max-width: 768px)
	.content
		padding-left 0
		padding-top 30px

@media screen and (max-width: 980px) {
  .ui-title-4 {
    font-size: 1.066666666666667rem;
  }
}
@media screen and (max-width: 768px) {
  .ui-title-4 {
    font-size: 1.066666666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .ui-title-4 {
    font-size: 1.066666666666667rem;
  }
}